<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- navigation menu -->
    <div th:replace="fragments/top_nav :: head"></div>
    <!-- navigation ends menu -->
</head>

<body>

<!-- navigation menu -->
<div th:replace="fragments/top_nav :: navbar"></div>
<!-- navigation ends menu -->

<div class="container my-5">
    <h3> Add Opportunity</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" method="post" th:action="@{/opportunity/createOpportunity}"
                      th:object="${opportunity}">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="businessName">Opportunity Name</label>
                            <input class="form-control" id="businessName" placeholder="Opportunity Name"
                                   th:field="*{businessName}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="businessDescription">Opportunity Description</label>
                            <textarea class="form-control" id="businessDescription" placeholder="Business Description"
                                      th:field="*{businessDescription}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="businessType">Business Type</label>
                            <input class="form-control" id="businessType" placeholder="Business Type"
                                   th:field="*{businessType}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="businessProduct">Business Product</label>
                            <input class="form-control" id="businessProduct" placeholder="Business Product"
                                   th:field="*{businessProduct}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="targetMarket">Target Market</label>
                            <input class="form-control" id="targetMarket" placeholder="Target Market"
                                   th:field="*{targetMarket}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="practicality">Practicality</label>
                            <input class="form-control" id="practicality" placeholder="Practicality"
                                   th:field="*{practicality}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="requiredSkills">Required kills</label>
                            <input class="form-control" id="requiredSkills"
                                   placeholder="Required skills seperated by comma"
                                   th:field="*{requiredSkills}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="expectedSales">Expected Sales</label>
                            <input class="form-control" id="expectedSales" placeholder="Expected Sales"
                                   th:field="*{expectedSales}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="expectedProfit">Expected Profit</label>
                            <input class="form-control" id="expectedProfit" placeholder="Expected Profit"
                                   th:field="*{expectedProfit}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="expectedRateOfReturn">Expected Rate Of Return</label>
                            <input class="form-control" id="expectedRateOfReturn" placeholder="Expected Rate Of Return"
                                   th:field="*{expectedRateOfReturn}" type="text"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label" for="requiredCapital">Required Capital</label>
                            <input class="form-control" id="requiredCapital" placeholder="Required Capital"
                                   th:field="*{requiredCapital}" type="text"/>
                        </div>

                        <div class="col-md-6">
                            <input class="btn btn-primary" type="submit" value=" Submit ">
                        </div>

                        <input id="id" th:field="*{id}" type="hidden">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto">
        <h2>Upload File</h2>
        <p class="alert alert-primary" th:if="${message ne null}" th:text="${message}"></p>
        <form enctype="multipart/form-data" method="post" th:action="@{/upload}">
            <div class="form-group">
                <input class="form-control-file" name="file" type="file">
            </div>
            <button class="btn btn-primary" type="submit">Upload File</button>
        </form>
    </div>
</div>

</form>


<!-- footer stuff-->
<div th:replace="fragments/top_nav :: footer"></div>
<!-- footer stuff ends -->
</head>
</body>

</html>